body{
    background-color: white;
    color: #000;
    font-family: Helvetica;
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    text-shadow: rgb(180, 180, 180) 2px 2px;
}

#subtitulo{
    color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 2px;
    text-align: center;
}

.center{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    gap: 5px;
}

.div-pic{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    text-align: center;
}

.div-pic img{
    width: 170px;
    height: 160px;
    border: 2px solid whitesmoke;
    border-radius: 50%;
}



